In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
url = "http://bit.ly/w-data"
df = pd.read_csv(url)
df.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [4]:
df.shape

(25, 2)

In [5]:
train = df[0:15]

In [6]:
test = df[16:]

In [7]:
test.head()

    Hours  Scores
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30

In [8]:
x_train = train.drop('Scores',axis=1)

In [9]:
y_train = train['Scores']

In [10]:
x_test = test.drop('Scores',axis=1)

In [11]:
y_test = test['Scores']

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
pred = lr.predict(x_test)

In [17]:
lr.score(x_test,y_test)

0.9270002642321166

In [18]:
lr.score(x_test,pred)

1.0

In [19]:
lr.score(x_train,y_train)

0.9522703153158186

In [20]:
rmse_test = np.sqrt(np.mean(np.power((np.array(y_test) - np.array(pred)),2)))
rmse_test

5.8988592724377185

In [23]:
rmse_train = np.sqrt(np.mean(np.power((np.array(y_train) - np.array(lr.predict(x_train))),2)))
rmse_train

5.345759167599761

In [32]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': pred})  
df

    Actual  Predicted
16      30  26.083803
17      24  20.431066
18      67  60.000221
19      69  72.247817
20      30  27.968048
21      54  47.752626
22      35  38.331398
23      76  67.537203
24      86  76.016308